body {
  height: 100%;
  padding: .4rem 0 .5rem 0;
}
#header {
  background-color: #e5e5e5;
}
#main {
  display: flex;
}
#main .content-left {
  width: .85rem;
  height: 100%;
  background-color: #e5e5e5;
}
#main .content-left li {
  width: .85rem;
  height: .45rem;
}
#main .content-left li a {
  width: 100%;
  display: block;
  text-align: center;
  line-height: .45rem;
}
#main .content-left .active {
  background-color: white;
}
#main .content-left .active a {
  color: #de181b;
}
#main .content-left .swiper-container {
  width: 100%;
  height: 5.4rem;
}
#main .content-left .swiper-container .swiper-slide {
  height: auto;
}
#main .content-right {
  flex: 1;
}
#main .content-right ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#main .content-right ul li {
  width: 33.3%;
  text-align: center;
}
#main .content-right ul li a {
  display: block;
}
#main .content-right ul li a img {
  width: 70px;
}
#main .content-right ul li a span {
  display: block;
}
#main .content-right .swiper-container {
  width: 100%;
  height: 5.4rem;
}
#main .content-right .swiper-container .swiper-slide {
  height: auto;
}
